:root{
    --primary-color: #ffffff;
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-blue: #2067F5;
    --bs-primary: #2067F5;
}
/* change font for headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.container{
    padding-top: 12px;
    padding-bottom: 12px;
}
/* top bar */
.navbar{
    background-color: #ffffff;
}

#dog-icon{
    width: 30px;
    margin-right: 8px;
}

/* card and elements */
.dog-card{
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 24px -23px rgba(66, 68, 90, 1);
    transition: box-shadow 0.2s ease; /* color animation */
    border-radius: 10px;
    overflow: hidden;
}
.dog-card:hover {
    box-shadow: 0 0 0 3px #2067F5; /* Change box-shadow to mimic border on hover */
}
.name-of-dog{
    margin: 0px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.img-of-dog {
    width: 100%;
    height: 250px;
    object-fit: cover; /* good fit into card */
}